/* Estilo do Body */
body {
    background-color: rgba(237, 102, 18, 0.639); /* Define o fundo preto */
    color: white; /* Define a cor do texto como branco para contraste */
    font-family: Arial, sans-serif; /* Define uma fonte básica */
    margin: 20px; /* Define a margem ao redor do conteúdo */
    padding: 20px;
}

/* Título Principal */
h1 {
    text-align: center; /* Centraliza o título */
    margin-top: 10px; /* Margem para dar um pequeno espaço no topo */
}


/* Estilo das Tracks */
.track {
    margin-bottom: 20px; /* Espaço entre as faixas */
    justify-content: center;  /* Centraliza horizontalmente */
    align-items: center;      /* Centraliza verticalmente */
}

/* Controles de Volume */
input[type="range"] {
    width: 30%; /* O controle ocupa toda a largura disponível */
    background-color: #333; /* Fundo escuro para contraste */
    cursor: pointer;
    justify-content: center;  /* Centraliza horizontalmente */
    align-items: center;      /* Centraliza verticalmente */
    margin: 30px 15px;
}

/* Estilo para a logo */
.logo {
    display: flex;           /* Ativa o flexbox */
    justify-content: center;  /* Centraliza horizontalmente */
    align-items: center;      /* Centraliza verticalmente */
    height: 150px;            /* Define uma altura específica para o topo */
    margin-top: 20px;         /* Espaço superior */
}

/* Ajuste para a imagem da logo */
.logo img {
    width: 350px; /* Tamanho da logo */
}

/* Media Query para dispositivos móveis */
@media only screen and (max-width: 768px) {
    .logo img {
        width: 250px; /* Tamanho menor para dispositivos móveis */
    }
    input[type="range"] {
        width: 90%; /* Controles de volume mais largos para telas pequenas */
    }
}

/* Esconde o controle de volume em dispositivos móveis */
@media only screen and (max-width: 768px) {
    input[type="range"] {
        display: none;
    }
}